---
http_interactions:
- request:
    method: post
    uri: https://paper-api.alpaca.markets/v2/orders
    body:
      encoding: UTF-8
      string: '{"symbol":"AAPL","qty":5,"side":"buy","type":"limit","time_in_force":"day","extended_hours":true,"client_order_id":"MY_ORDER_ID_2"}'
    headers:
      Apca-Api-Key-Id:
      - "<KEY ID>"
      Apca-Api-Secret-Key:
      - "<KEY SECRET>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"code":40010001,"message":"limit orders require only limit price"}'
  recorded_at: Thu, 11 Jul 2019 01:58:30 GMT
recorded_with: VCR 5.0.0
