---
http_interactions:
- request:
    method: post
    uri: https://paper-api.alpaca.markets/v2/orders
    body:
      encoding: UTF-8
      string: '{"symbol":"AAPL","qty":5000,"side":"buy","type":"limit","time_in_force":"day","limit_price":200,"extended_hours":true}'
    headers:
      Apca-Api-Key-Id:
      - "<KEY ID>"
      Apca-Api-Secret-Key:
      - "<KEY SECRET>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"code":40310000,"message":"insufficient buying power"}'
  recorded_at: Wed, 10 Jul 2019 13:27:17 GMT
recorded_with: VCR 5.0.0
