---
http_interactions:
- request:
    method: post
    uri: https://paper-api.alpaca.markets/v2/orders
    body:
      encoding: UTF-8
      string: '{"symbol":"AAPL","qty":1.8,"side":"buy","type":"market","time_in_force":"day","extended_hours":false}'
    headers:
      Apca-Api-Key-Id:
      - "<KEY ID>"
      Apca-Api-Secret-Key:
      - "<KEY SECRET>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"<ID>","client_order_id":"6fe20a99-49de-4488-bc5d-8f1620fe57da","created_at":"2021-04-20T19:20:21.423227Z","updated_at":"2021-04-20T19:20:21.423227Z","submitted_at":"2021-04-20T19:20:21.417153Z","filled_at":null,"expired_at":null,"canceled_at":null,"failed_at":null,"replaced_at":null,"replaced_by":null,"replaces":null,"asset_id":"b0b6dd9d-8b9b-48a9-ba46-b9d54906e415","symbol":"AAPL","asset_class":"us_equity","notional":null,"qty":"1.8","filled_qty":"0","filled_avg_price":null,"order_class":"","order_type":"market","type":"market","side":"buy","time_in_force":"day","limit_price":null,"stop_price":null,"status":"accepted","extended_hours":false,"legs":null,"trail_percent":null,"trail_price":null,"hwm":null}'
  recorded_at: Tue, 20 Apr 2021 19:20:21 GMT
recorded_with: VCR 5.1.0
