---
http_interactions:
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/account/activities/FILL
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apca-Api-Key-Id:
      - "<KEY ID>"
      Apca-Api-Secret-Key:
      - "<KEY SECRET>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"id":"20200522035112065::a80dfbdf-42ea-459f-82ea-61cf91691913","activity_type":"FILL","transaction_time":"2020-05-22T19:51:12.065361Z","type":"fill","price":"186.98","qty":"26","side":"buy","symbol":"WAT","leaves_qty":"0","order_id":"b48a6dd1-0100-458e-8a30-463a9cf6aaf7","cum_qty":"26"},{"id":"20200522035111785::9d7cb6c3-4a2d-429c-bac9-e361ef24b67f","activity_type":"FILL","transaction_time":"2020-05-22T19:51:11.785756Z","type":"fill","price":"137.41","qty":"36","side":"sell","symbol":"FFIV","leaves_qty":"0","order_id":"a062e853-eaa3-4e29-a4ff-1b9c5f2ab68c","cum_qty":"36"},{"id":"20200522035012378::d142eeab-78bc-4af6-a7e5-4958fd4f6245","activity_type":"FILL","transaction_time":"2020-05-22T19:50:12.37857Z","type":"fill","price":"137.52","qty":"36","side":"buy","symbol":"FFI[...]
