---
http_interactions:
- request:
    method: get
    uri: https://data.alpaca.markets/v2/stocks/bars?feed=sip&limit=10&start=2023-08-24T00:00:00%2B00:00&symbols=CRM&timeframe=1D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apca-Api-Key-Id:
      - "<KEY ID>"
      Apca-Api-Secret-Key:
      - "<KEY SECRET>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit:
      - '200'
      X-Ratelimit-Remaining:
      - '199'
      X-Ratelimit-Reset:
      - '1701548222'
    body:
      encoding: UTF-8
      string: '{"bars":{"CRM":[{"c":205.51,"h":211.99,"l":205.44,"n":73644,"o":211.01,"t":"2023-08-24T04:00:00Z","v":3960327,"vw":206.957144},{"c":209.47,"h":210.79,"l":205.48,"n":59119,"o":205.51,"t":"2023-08-25T04:00:00Z","v":3068821,"vw":208.840682},{"c":211.72,"h":213.4767,"l":209.64,"n":69497,"o":210.45,"t":"2023-08-28T04:00:00Z","v":4086853,"vw":211.230273},{"c":211.96,"h":212.46,"l":206.52,"n":102342,"o":206.75,"t":"2023-08-29T04:00:00Z","v":5850366,"vw":210.626318},{"c":215.04,"h":215.59,"l":209.43,"n":150629,"o":211.77,"t":"2023-08-30T04:00:00Z","v":9946012,"vw":216.67428},{"c":221.46,"h":228.79,"l":221.2,"n":219363,"o":228,"t":"2023-08-31T04:00:00Z","v":19268400,"vw":223.733395},{"c":221.53,"h":223.97,"l":220.52,"n":92641,"o":223.5,"t":"2023-09-01T04:00:00Z","v":5600940,"vw":221.828052},{"c":218.69,"h":220.3199,"l":217.61,"n":96792,"o":219.33,"t":"2023-09-05T04:00:00Z","v":5807336,"vw":219.030671},{"c":221.62,"h":222.2099,"l":219.02,"n":86904,"o":219.47,"t":"2023-09-06T04:00:00Z","v":5066666,"vw":221.04745},{"c":222.53,"h":222.73,"l":219.31,"n":70468,"o":219.77,"t":"2023-09-07T04:00:00Z","v":4201916,"vw":221.882464}]},"next_page_token":"Q1JNfER8MTY5NDA1OTIwMDAwMDAwMDAwMA=="}'
  recorded_at: Sat, 02 Dec 2023 20:17:02 GMT
recorded_with: VCR 6.1.0
