---
http_interactions:
- request:
    method: get
    uri: https://data.alpaca.markets/v2/stocks/QQQ/bars?limit=3&start=2021-08-26T14:00:00Z&timeframe=1Day
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apca-Api-Key-Id:
      - "<KEY ID>"
      Apca-Api-Secret-Key:
      - "<KEY SECRET>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"bars":[{"t":"2021-08-09T04:00:00Z","o":368.52,"h":369.27,"l":367.39,"c":368.73,"v":25923167,"n":157639,"vw":368.51266},{"t":"2021-08-10T04:00:00Z","o":369.26,"h":369.56,"l":365.62,"c":366.84,"v":35616102,"n":264266,"vw":367.291272},{"t":"2021-08-11T04:00:00Z","o":368.14,"h":368.65,"l":364.84,"c":366.21,"v":34160658,"n":244770,"vw":366.441769}],"symbol":"QQQ","next_page_token":"UVFRfER8MjAyMS0wOC0xMVQwNDowMDowMC4wMDAwMDAwMDBa"}'
  recorded_at: Fri, 12 Jul 2019 03:07:05 GMT
recorded_with: VCR 5.0.0
