---
http_interactions:
- request:
    method: get
    uri: https://data.alpaca.markets/v2/stocks/QQQ/bars?end=2021-09-06T14:00:00Z&limit=3&start=2021-08-26T14:00:00Z&timeframe=15Min
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apca-Api-Key-Id:
      - "<KEY ID>"
      Apca-Api-Secret-Key:
      - "<KEY SECRET>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"bars":[{"t":"2021-08-26T14:00:00Z","o":373.9,"h":374.62,"l":373.84,"c":374.25,"v":1345904,"n":8485,"vw":374.329104},{"t":"2021-08-26T14:15:00Z","o":374.25,"h":374.285,"l":372.29,"c":372.945,"v":2427980,"n":20301,"vw":373.166225},{"t":"2021-08-26T14:30:00Z","o":372.95,"h":373.54,"l":372.4,"c":372.75,"v":1823073,"n":15543,"vw":372.982425}],"symbol":"QQQ","next_page_token":"UVFRfE18MjAyMS0wOC0yNlQxNDo0NDowMC4wMDAwMDAwMDBa"}'
  recorded_at: Fri, 12 Jul 2019 03:07:05 GMT
recorded_with: VCR 5.0.0
