---
http_interactions:
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/clock
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apca-Api-Key-Id:
      - "<KEY ID>"
      Apca-Api-Secret-Key:
      - "<KEY SECRET>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"timestamp":"2019-07-07T12:55:08.427247519-04:00","is_open":false,"next_open":"2019-07-08T09:30:00-04:00","next_close":"2019-07-08T16:00:00-04:00"}'
  recorded_at: Sun, 07 Jul 2019 16:55:08 GMT
recorded_with: VCR 5.0.0
