---
http_interactions:
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/assets?asset_class=us_equity&status=active
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apca-Api-Key-Id:
      - "<KEY ID>"
      Apca-Api-Secret-Key:
      - "<KEY SECRET>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"id":"f60cecf2-26f9-476b-b4e1-ad403be580f2","class":"us_equity","exchange":"NASDAQ","symbol":"FRAN","status":"active","tradable":true,"marginable":true,"shortable":false,"easy_to_borrow":false},{"id":"3abd7b26-1192-457e-8ddb-80efa829416e","class":"us_equity","exchange":"NASDAQ","symbol":"PCB","status":"active","tradable":true,"marginable":true,"shortable":false,"easy_to_borrow":false},{"id":"44dc6c41-cc53-4988-9eca-303830f306b3","class":"us_equity","exchange":"NASDAQ","symbol":"GNFT","status":"active","tradable":true,"marginable":true,"shortable":false,"easy_to_borrow":false},{"id":"6de683bc-0852-44d1-8d2c-e6faf33282ed","class":"us_equity","exchange":"NASDAQ","symbol":"SPFI","st[...]
