---
http_interactions:
- request:
    method: get
    uri: https://data.alpaca.markets/v1/last/stocks/TSLA
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apca-Api-Key-Id:
      - "<KEY ID>"
      Apca-Api-Secret-Key:
      - "<KEY SECRET>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"success","symbol":"TSLA","last":{"price":817.07,"size":12,"exchange":9,"cond1":12,"cond2":37,"cond3":0,"cond4":0,"timestamp":1590180891855000064}}'
  recorded_at: Mon, 25 May 2020 23:39:32 GMT
recorded_with: VCR 5.0.0
