---
http_interactions:
- request:
    method: patch
    uri: https://paper-api.alpaca.markets/v2/orders/7ab88b48-b57a-48bf-aa58-89496b23757d
    body:
      encoding: UTF-8
      string: '{"qty":200}'
    headers:
      Apca-Api-Key-Id:
      - "<KEY ID>"
      Apca-Api-Secret-Key:
      - "<KEY SECRET>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"code":40010001,"message":"only open orders can be replaced"}'
  recorded_at: Thu, 19 Sep 2019 21:00:42 GMT
recorded_with: VCR 5.0.0
