---
http_interactions:
- request:
    method: patch
    uri: https://paper-api.alpaca.markets/v2/orders/001c0b29-5bc9-45c4-bd32-5ba323c997b3
    body:
      encoding: UTF-8
      string: '{"qty":105,"time_in_force":"gtc","stop_price":25.1}'
    headers:
      Apca-Api-Key-Id:
      - "<KEY ID>"
      Apca-Api-Secret-Key:
      - "<KEY SECRET>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"code":40410000,"message":"order not found for 001c0b29-5bc9-45c4-bd32-5ba323c997b3"}'
  recorded_at: Thu, 19 Sep 2019 20:55:23 GMT
recorded_with: VCR 5.0.0
