---
http_interactions:
- request:
    method: patch
    uri: https://paper-api.alpaca.markets/v2/orders/1c7490e3-a3fb-4f33-aa93-d0194e675bfa
    body:
      encoding: UTF-8
      string: '{"qty":100,"limit_price":25.25,"client_order_id":"MY_ORDER_ID_3"}'
    headers:
      Apca-Api-Key-Id:
      - "<KEY ID>"
      Apca-Api-Secret-Key:
      - "<KEY SECRET>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"e0b1c6da-807c-4158-a950-667fc4de1bd5","client_order_id":"MY_ORDER_ID_3","created_at":"2019-09-19T20:48:21.779459402Z","updated_at":"2019-09-19T20:48:21.779459402Z","submitted_at":"2019-09-19T20:48:21.724256147Z","filled_at":null,"expired_at":null,"canceled_at":null,"failed_at":null,"replaced_at":null,"replaced_by":null,"replaces":"1c7490e3-a3fb-4f33-aa93-d0194e675bfa","asset_id":"924f54d4-9db2-4fb4-a63a-a00fbc0f22b3","symbol":"BRZU","asset_class":"us_equity","qty":"100","filled_qty":"0","filled_avg_price":null,"order_type":"limit","type":"limit","side":"buy","time_in_force":"day","limit_price":"25.25","stop_price":null,"status":"new","extended_hours":false}'
  recorded_at: Thu, 19 Sep 2019 20:48:21 GMT
recorded_with: VCR 5.0.0
