---
http_interactions:
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/assets/CRM
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apca-Api-Key-Id:
      - "<KEY ID>"
      Apca-Api-Secret-Key:
      - "<KEY SECRET>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"cf80d13f-470c-4947-8593-c5e098aeba4e","class":"us_equity","exchange":"NYSE","symbol":"CRM","status":"active","tradable":true,"marginable":true,"shortable":true,"easy_to_borrow":true}'
  recorded_at: Sun, 30 Jun 2019 18:18:50 GMT
recorded_with: VCR 5.0.0
