---
http_interactions:
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/account
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apca-Api-Key-Id:
      - "<KEY ID>"
      Apca-Api-Secret-Key:
      - "<KEY SECRET>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"<ID>","status":"ACTIVE","currency":"USD","buying_power":"412640","cash":"103160","portfolio_value":"103160","pattern_day_trader":false,"trading_blocked":false,"transfers_blocked":false,"account_blocked":false,"created_at":"2019-06-17T01:32:09.887277Z","trade_suspended_by_user":false,"multiplier":"4","shorting_enabled":true,"equity":"103160","last_equity":"103160","long_market_value":"0","short_market_value":"0","initial_margin":"0","maintenance_margin":"0","sma":"0","daytrade_count":4}'
  recorded_at: Sun, 30 Jun 2019 18:59:35 GMT
recorded_with: VCR 5.0.0
