---
http_interactions:
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/orders/f08bfc92-c922-41f9-8166-3657e5bedef0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apca-Api-Key-Id:
      - "<KEY ID>"
      Apca-Api-Secret-Key:
      - "<KEY SECRET>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"f08bfc92-c922-41f9-8166-3657e5bedef0","client_order_id":"c32402d5-31a0-4eff-84d7-00ec1820d3de","created_at":"2019-07-05T14:29:38.677344Z","updated_at":"2019-07-05T14:51:43.721522Z","submitted_at":"2019-07-05T14:29:38.673298Z","filled_at":"2019-07-05T14:51:43.699611Z","expired_at":null,"canceled_at":null,"failed_at":null,"asset_id":"e5211562-9f48-451e-ab29-c117a780c1f9","symbol":"GDX","asset_class":"us_equity","qty":"500","filled_qty":"500","filled_avg_price":"25.07","order_type":"limit","type":"limit","side":"sell","time_in_force":"gtc","limit_price":"25.07","stop_price":null,"status":"filled"}'
  recorded_at: Tue, 09 Jul 2019 12:01:59 GMT
recorded_with: VCR 5.0.0
