---
http_interactions:
- request:
    method: delete
    uri: https://paper-api.alpaca.markets/v2/positions/AIV
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apca-Api-Key-Id:
      - "<KEY ID>"
      Apca-Api-Secret-Key:
      - "<KEY SECRET>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"<ID>","client_order_id":"1738abae-c2d1-43c3-b67f-2e16dc29d54d","created_at":"2019-09-20T02:24:31.678440886Z","updated_at":"2019-09-20T02:24:31.704282098Z","submitted_at":"2019-09-20T02:24:31.670140514Z","filled_at":null,"expired_at":null,"canceled_at":null,"failed_at":null,"replaced_at":null,"replaced_by":null,"replaces":null,"asset_id":"6a5d1d05-d652-48a6-b33f-98991c0a442a","symbol":"AIV","asset_class":"us_equity","qty":"71","filled_qty":"0","filled_avg_price":null,"order_type":"market","type":"market","side":"sell","time_in_force":"day","limit_price":null,"stop_price":null,"status":"new","extended_hours":false}'
  recorded_at: Fri, 20 Sep 2019 02:24:31 GMT
recorded_with: VCR 5.0.0
