---
http_interactions:
- request:
    method: delete
    uri: https://paper-api.alpaca.markets/v2/positions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apca-Api-Key-Id:
      - "<KEY ID>"
      Apca-Api-Secret-Key:
      - "<KEY SECRET>"
  response:
    status:
      code: 207
      message: Multi-Status
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"symbol":"AIV","status":200,"body":{"id":"a669b3e5-042d-468a-bbcb-f6aefb90a236","client_order_id":"956512c1-e95c-483e-ad48-05ab7d09783a","created_at":"2019-09-19T15:06:20.98592896Z","updated_at":"2019-09-19T15:06:20.991928037Z","submitted_at":"2019-09-19T15:06:20.971347594Z","filled_at":null,"expired_at":null,"canceled_at":null,"failed_at":null,"replaced_at":null,"replaced_by":null,"replaces":null,"asset_id":"6a5d1d05-d652-48a6-b33f-98991c0a442a","symbol":"AIV","asset_class":"us_equity","qty":"70","filled_qty":"0","filled_avg_price":null,"order_type":"market","type":"market","side":"sell","time_in_force":"day","limit_price":null,"stop_price":null,"status":"new","extended_hours":false}}]'
  recorded_at: Thu, 19 Sep 2019 21:06:21 GMT
recorded_with: VCR 5.0.0
