---
http_interactions:
- request:
    method: get
    uri: https://paper-api.alpaca.markets/v2/calendar?end=2019-07-01&start=2019-06-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apca-Api-Key-Id:
      - "<KEY ID>"
      Apca-Api-Secret-Key:
      - "<KEY SECRET>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"date":"2019-06-03","open":"09:30","close":"16:00"},{"date":"2019-06-04","open":"09:30","close":"16:00"},{"date":"2019-06-05","open":"09:30","close":"16:00"},{"date":"2019-06-06","open":"09:30","close":"16:00"},{"date":"2019-06-07","open":"09:30","close":"16:00"},{"date":"2019-06-10","open":"09:30","close":"16:00"},{"date":"2019-06-11","open":"09:30","close":"16:00"},{"date":"2019-06-12","open":"09:30","close":"16:00"},{"date":"2019-06-13","open":"09:30","close":"16:00"},{"date":"2019-06-14","open":"09:30","close":"16:00"},{"date":"2019-06-17","open":"09:30","close":"16:00"},{"date":"2019-06-18","open":"09:30","close":"16:00"},{"date":"2019-06-19","open":"09:30","close":"16:00"},{"date":"2019-06-20","open":"09:30","close":"16:00"},{"date":"2019-06-21","open":"09:30","close":"16:00"},{"date":"2019-06-24","open":"09:30","close":"16:00"},{"date":"2019-06-25","open":"09:30","close":"16:00"},{"date":"2019-06-26","open":"09:30","close":"16:00"},{"date":"2019-06-27","open":"09:30","close":"16:00"},{"date":"2019-06-28","open":"09:30","close":"16:00"},{"date":"2019-07-01","open":"09:30","close":"16:00"}]'
  recorded_at: Sun, 07 Jul 2019 16:43:13 GMT
recorded_with: VCR 5.0.0
